/* .img1 {
  content: url("https://picsum.photos/id/237/200/300");
	height: 120px;
	width: 80px;
	display: inline;
	margin: 10px;
}

.img2 {
  content: url("https://picsum.photos/seed/picsum/200/300");
	height: 120px;
	width: 80px;
	display: inline;
	margin: 10px;
}

.img3 {
  content: url("https://picsum.photos/200/300?grayscale");
	height: 120px;
	width: 80px;
	display: inline;
	margin: 10px;
}
.img4 {
  content: url("https://picsum.photos/200/300/");
	height: 120px;
	width: 80px;
	display: inline;
	margin: 10px;
}
.img5 {
  content: url("https://picsum.photos/200/300.jpg");
	height: 120px;
	width: 80px;
	display: inline;
	margin: 10px;
}

img {
  margin: 10px;
  border: 5px solid #555;
  width: 10%;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}
 */